@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


* {
    margin: 0;
    padding: 0;
}

body {
  font-family: Poppins-Regular, sans-serif;
  background-color: #f2f2f2;
}

.clearfix {
    clear:both;
}

.allthing {
  /* display: flex; */
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  /* position: relative; */
}

.container-object {
  max-width: 1370px;
  margin: 0 auto;
  /* border: 1px red solid; */
  display: flex;
  height: auto;
  /* position: absolute; */
  
}

.container-object hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,rgb(0 0 0/0%),rgb(222 226 230),rgb(0 0 0/0%));
}

/* .container-object img {
    vertical-align: middle;
    border-style: none;
}

.container-object picture {
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    height: auto;
    position: absolute;
    float: left;
}

.container-object picture img{
    width: 1370px;
    max-width: 100%;
    border-radius: 5px;
}

.container-object picture source {
  width: 330px;
  max-width: 100%;
  border-radius: 5px;
} */

.all-content {
  max-width: 100%;
  height: auto;
  /* border: 2px black solid; */
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  border: 1px solid #dee2e6;
  border-radius: 10px!important;
  padding: 15px;
  background-color: #fff;
}


.all-content .logo {
  background-color: #fff;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px!important;
  box-shadow: 0 0 7px #bfbfbf;
  float: left;

}

.text-content {
  width: 70%;
  /* border: 1px red solid; */
}

.text-content h1 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 35px;
  color: #424242;
}

.text-content p {
  padding-top: 25px;
  font-weight: 200;
  font-size: 20px;
  line-height: 170%;
  text-indent: 2.5em;
}

.all-content .ads-banner {
  /* border: 1px red solid; */
  max-width: 20%;
  height: auto;
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px!important;
  margin-left: auto;
  margin-right: 50px;
  /* margin-right: auto; */
}

.all-content .text-ads {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1130px) {
  .all-content .text-ads {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
  }
  .all-content .ads-banner {
    /* border: 1px red solid; */
    margin-top: 30px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    flex-direction: column;
    /* flex-wrap: wrap; */
    max-width: 20%;
    height: auto;
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px!important;
    align-items: center ;
    justify-content: center ;
  }
  .text-content {
    width: 100%;
    /* border: 1px red solid; */
  }

  .text-content p {
    font-size: 16px;
  }

  .text-content h1 {
    text-align: center;
  }
}

.social-network {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
  /* border: 1px red solid; */
}

.all-content .network {
  width: 50%;
  max-width: 100%;
  height: auto;
  /* border: 2px black solid; */
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  border: 1px solid #dee2e6;
  border-radius: 10px!important;
  margin-bottom: 20px;
  float: left;
}

.all-content .social {
  width: 50%;
  max-width: 100%;
  height: auto;
  /* border: 2px black solid; */
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  border: 1px solid #dee2e6;
  border-radius: 10px!important;
  margin-bottom: 20px;
  float: left;
}

.all-content h2 {
  font-size: 30px;
  color: #424242;
  text-indent: 0.5em;
}


@media screen and (max-width: 1130px) {
  .all-content .network {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* border: 2px black solid; */
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    border: 1px solid #dee2e6;
    border-radius: 10px!important;
    padding: 15px;
    margin-bottom: 20px;
    float: none;
  }
    
  .all-content .social {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* border: 2px black solid; */
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    border: 1px solid #dee2e6;
    border-radius: 10px!important;
    padding: 15px;
    margin-bottom: 20px;
    float: none;
  }
}

.owl-carousel {
  margin: 0px !important;
}

/* ----carousel---- */
/* .multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.carousel-inner-img {
  max-width:250px;
} */

#slider {
  margin-top: 10%;
}

.content-area {
  position: relative;
}

/* ---------don't use--------- */
.custom_overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
  transition: all 400ms ease-in-out;
  height: 70%;
}

.custom_overlay:hover {
  opacity: 1;
}

.custom_overlay h4 {
  position: relative;
  font-size: 30px;
  color: #000;
}

.custom_overlay h4:after{
  content: '-';
  padding-left: 10px;
}

.content-text {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
}

/* ---------don't use--------- */

.owl-dots {
  text-align: center;
  margin-top: 3%;
}

.owl-dot {
  display: inline-block;
  height: 20px !important;
  width: 20px !important;
  background-color: #bdbdbd !important;
  opacity: 0.8;
  margin: 0 5px;
  border-radius: 10px;
}

.owl-dot:hover{
  display: inline-block;
  height: 20px !important;
  width: 20px !important;
  background-color: #dee2e6 !important;
  opacity: 0.8;
  margin: 0 5px;
  border-radius: 10px;
}

.footer-style {
  max-width: 1370px;
  margin: 30px auto;
  /* position: absolute; */
  /* border: 1px red solid; */
}

.footer-style img {
  vertical-align: middle;
  border-style: none;
}

.footer-style picture {
  height: auto;
  border-radius: 5px!important;
  /* position: absolute; */
}

.footer-style picture img{
  width: 1370px;
  max-width: 100%;
  border-radius: 5px!important;
}

.footer-style picture source {
  width: 330px;
  max-width: 100%;
  border-radius: 5px!important;
}


.header-top {
  max-width: 1370px;
  margin: 30px auto;
  /* position: absolute; */
  /* border: 1px red solid; */
}

.header-top img {
  vertical-align: middle;
  border-style: none;
}

.header-top picture {
  height: auto;
  border-radius: 5px!important;
  /* position: absolute; */
}

.header-top picture img{
  width: 1370px;
  max-width: 100%;
  border-radius: 5px!important;
}

.header-top picture source {
  width: 330px;
  max-width: 100%;
  border-radius: 5px!important;
}